{
    "env": {
        "browser": true,
        "es2021": true
    },
    "plugins": ["prettier", "simple-import-sort"],
    "extends": ["aribnb", "prettier"],
    "parserOptions": {
        "ecmaVersion": "latest",
        "sourceType": "module"
    },
    "rules": {
        "prettier/prettier": "error",
        "no-unused-vars": "warn",
        "no-console": "off",
        "func-names": "off",
        "no-process-exit": "off",
        "object-shorthand": "off",
        "class-methods-use-this": "off",
        "simple-import-sort/imports": "error"
    }
}
